<div id="img-container">
   <form class="form-wrapper cf">
      <%= form_tag restaurants_path, method: :get do %>
      <%= search_field_tag :search, params[:search], placeholder: "Find Restaurants Near Address" %>
      <button type="submit">Search</button>
      <% end %>
  </form>
  <div id="or-icon">
    <p>or</p>
   </div>
    <button id="current-location">Find Restaurants Near Me</button>
    <p class="error location-error">Unable to find your location</p>
</div>


<section id="restaurants">

<div class="container">
  <div class="row">
			<%= render @restaurants %>
      </div>
  </div>

  <div>
  <%= link_to "Add a new restaurant »", new_restaurant_path %>
</div>
</section>