<div id="img-container">
   <form class="form-wrapper cf">
      <%= form_tag restaurants_path, method: :get do %>
      <%= search_field_tag :search, params[:search], placeholder: "Find Restaurants Near an Address" %>
      <button type="submit">Search</button>
      <% end %>
  </form>
  <div id="or-icon">
    <p>or</p>
  </div>
    <button id="current-location">Find Restaurants Near Me</button>
    <p class="error location-error">Unable to find your location</p>
</div>

<div id="content-bg">
  <div id="results-header">
    <h2><%#= @restaurants.count %> RESTAURANTS</h2>
  </div>
	<section id="restaurants_section">
    <%= render @restaurants %>
  </section>

  <div id="new_rest_link_container">
    <%= link_to "Add New Restaurant", new_restaurant_path, id:"new_rest_link"%>
  </div>
</div>



      <%#= link_to "Leave a Review", new_restaurant_review_path(@restaurant), id:"new_review_btn"%>